<!DOCTYPE html>

<html>
  <head></head>
  <body>
    <h2 class="head_main">About Me</h2>
    <div class="center">
      <p>I am a final year undergraduate student majoring in 
      Electronics and Communication
      from The LNM Institute of Information Technology, Jaipur. 
      My major interests lies in developing softwares and learning new technologies. 
      Also, I love to play cricket and watch movies in free time.
      </p>
      <br>
      <p>You can see my projects on <i>My Projects</i> page.</p>
      <button (click) = "goProject()" class="btn">My Projects...</button>
    </div>
  </body>
</html>